<p>parent works!</p>

<div class="children">
  <app-child></app-child>

  <app-child>
    <app-child>
      <app-on-push-change-detection>
        <app-child></app-child>
        <app-child></app-child>
      </app-on-push-change-detection>
    </app-child>
    <app-child>
      <app-child></app-child>
      <app-child>
        <app-child></app-child>
        <app-child></app-child>
      </app-child>
    </app-child>
  </app-child>

  <app-child>
    <app-child></app-child>
    <app-child></app-child>
  </app-child>
</div>
